.products {
    padding-bottom: 60px;

    &__title {
        color: #838383;
        font-size: 20px;
        margin-bottom: 20px;
    }

    &__block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        justify-items: center;
    }
}

@media (max-width: 1150px) {

    .products {
        &__block {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 740px) {

    .products {
        &__block {
            grid-template-columns: 1fr;
        }
    }
}