.cart {
    padding: 18px 28px 18px 18px;
    max-width: 633px;
    min-width: 600px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 20px;

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__result {
        color: #1C1C27;
        font-size: 15px;
    }



}

.quantity {
    font-size: 17px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    &__btn {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: #ffffff;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e2b923;
    }



    &__text {
        margin: 0 10px;
    }
}

.product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;

    &__info {
        display: flex;
        align-items: center;
    }

    &__img {
        width: 146px;
        height: 136px;
        margin-right: 23px;
        border-radius: 20px;
    }

    &__title {
        color: #1C1C27;
        font-weight: 500;
        margin-bottom: 12px;
    }

    &__price {
        color: #AAA;
        font-size: 15px;
        margin-bottom: 10px;
    }

    &__stock {
        color: #AAA;
        font-size: 15px;
    }

    &__delete {
        cursor: pointer;
    }
}